<% if !user_signed_in? && current_page?("/") %>
  <nav class="nav navbar-default navbar-fixed-top">
<% else %>
  <nav class="nav navbar-default navbar-fixed-top top-nav-collapse">
<% end %>
    <div class="container">
        <div class="col-md-12">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                <span class="fa fa-bars"></span>
            </button>
                <%= link_to "File Cabinet", root_path, class:"navbar-brand" %>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                <ul class="nav navbar-nav">
                    <% unless user_signed_in? %>
                      <li class="active"><a href="/#header" class="menu">Home</a></li>
                      <li><a href="/#feature" class="menu">Feature</a></li>
                      <li><%= link_to "Log In", new_user_session_path %></li>
                    <% else %>

                    <li><%= link_to "Create Doc", new_doc_path %></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</nav>
